* {
  font-family: 'Inter'; }

body {
  background: #183d5d; }

.body-wrapper {
  max-width: 1170px;
  margin: 1rem auto; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header img {
    height: 6rem;
    cursor: pointer; }

.menu ul {
  display: flex;
  list-style: none; }
  .menu ul li {
    margin: 0 1.25rem;
    font-weight: bold;
    color: #93c2db;
    cursor: pointer; }
    .menu ul li:hover {
      color: #ff8ae2; }
    .menu ul li.active {
      color: #fff;
      border-bottom: 0.25rem solid #93c2db; }

.sign {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem; }
  .sign.h-2020 .primary-color {
    fill: #9c4668; }
  .sign.h-2020 .primary-accent-color {
    fill: #ff8ae2; }
  .sign.h-2020 .secondary-color {
    fill: #93c2db; }
  .sign.h-2020 .secondary-accent-color {
    fill: #fff; }
  .sign.h-2019 .primary-color {
    fill: #45a2ff; }
  .sign.h-2019 .primary-accent-color {
    fill: #434edc; }
  .sign.h-2019 .secondary-color {
    fill: #ff00b1; }
  .sign.h-2019 .secondary-accent-color {
    fill: #fffe18; }
  .sign.h-2018 .primary-color {
    fill: #01ffff; }
  .sign.h-2018 .primary-accent-color {
    fill: #582e41; }
  .sign.h-2018 .secondary-color {
    fill: #ff9c57; }
  .sign.h-2018 .secondary-accent-color {
    fill: #2a80d5; }
  .sign.h-2017 .primary-color {
    fill: #fb6362; }
  .sign.h-2017 .primary-accent-color {
    fill: #fe956b; }
  .sign.h-2017 .secondary-color {
    fill: #283187; }
  .sign.h-2017 .secondary-accent-color {
    fill: #3141a0; }
  .sign.h-2016 .primary-color {
    fill: #d3853b; }
  .sign.h-2016 .primary-accent-color {
    fill: #9b9a98; }
  .sign.h-2016 .secondary-color {
    fill: #3a3937; }
  .sign.h-2016 .secondary-accent-color {
    fill: #fff; }
  .sign.h-2015 .primary-color {
    fill: #fff; }
  .sign.h-2015 .primary-accent-color {
    fill: #23363d; }
  .sign.h-2015 .secondary-color {
    fill: #76adc8; }
  .sign.h-2015 .secondary-accent-color {
    fill: #d3511d; }
  .sign.h-2014 .primary-color {
    fill: #dda14a; }
  .sign.h-2014 .primary-accent-color {
    fill: #f15948; }
  .sign.h-2014 .secondary-color {
    fill: #fdd67e; }
  .sign.h-2014 .secondary-accent-color {
    fill: #f0ebcf; }

.color-presets {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem; }
  .color-presets h2 {
    color: #fff; }
  .color-presets h3 {
    color: #93c2db;
    text-align: center; }
  .color-presets ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none; }
    .color-presets ul li {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      padding: 1rem 0.25rem;
      cursor: pointer;
      border: 2px solid #183d5d;
      border-radius: 4px; }
      .color-presets ul li:hover {
        border: 2px solid #93c2db; }
    .color-presets ul .orb {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%; }
      .color-presets ul .orb.h-2020 {
        background-color: #9c4668; }
      .color-presets ul .orb.h-2019 {
        background-color: #45a2ff; }
      .color-presets ul .orb.h-2018 {
        background-color: #01ffff; }
      .color-presets ul .orb.h-2017 {
        background-color: #fb6362; }
      .color-presets ul .orb.h-2016 {
        background-color: #d3853b; }
      .color-presets ul .orb.h-2015 {
        background-color: #fff; }
      .color-presets ul .orb.h-2014 {
        background-color: #dda14a; }

.brightness-slider {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  /*Chrome*/
  /** FF*/
  /* IE*/ }
  .brightness-slider h2 {
    color: #fff; }
  .brightness-slider input {
    width: 200px;
    border: 2px solid #9c4668;
    border-radius: 25px;
    padding: 0.5rem; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .brightness-slider input[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
      background-color: #9c4668; }
    .brightness-slider input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #01ffff;
      margin-top: -1px; }
    .brightness-slider input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #9c4668;
      box-shadow: -80px 0 0 80px #01ffff; } }
  .brightness-slider input[type='range']::-moz-range-progress {
    background-color: #01ffff; }
  .brightness-slider input[type='range']::-moz-range-track {
    background-color: #183d5d; }
  .brightness-slider input[type='range']::-ms-fill-lower {
    background-color: #01ffff; }
  .brightness-slider input[type='range']::-ms-fill-upper {
    background-color: #183d5d; }

.footer {
  margin-bottom: 5rem; }
  .footer .save {
    display: flex;
    justify-content: center; }
    .footer .save button {
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      background: #9c4668;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
      .footer .save button[disabled] {
        background: #6a2f46;
        color: #c2c2c2;
        cursor: default; }

/*# sourceMappingURL=styles.css.map */
